.news-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 2px solid #0f3433;

  &__announce {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__up-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    color: #001e1d;
    font-size: 32px;
    font-weight: 700;
  }

  &__info {
    color: #0f3433;
    font-size: 16px;
  }

  &__down-block {
    display: flex;
    gap: 20px;
  }

  &__content-block {
    padding: 10px;
    background-color: #004643;
    border-radius: 5px;
  }

  &__text {
    color: #fffffe;

    & a {
      color: #f9bc60;
      text-decoration: none;
    }

    & p {
      margin: 15px 0;
    }
  }

  &__link {
    color: #fffffe;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #f9bc60;
    }
  }
}