.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  &__info {
    color: #0f3433;
    font-size: 100px;
    font-weight: 700;
  }

  &__title {
    color: #001e1d;
    font-size: 40px;
    font-weight: 700;
  }
}